#loading {
    z-index: 1000000;
    position: fixed;
}

.ap-xdot {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
input {
    outline: none;
}

.form-group {
    &.compact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;

        .group-input {
            flex: 1;
        }
    }
}