.sources-page {
    .sources {
        .source-table {
            table {
                td {
                    word-wrap: break-word;
                    white-space: normal;
                    
                    &:last-child {
                        width: 110px;
                    }
                }
            }
        }
    }
}